// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Product
@import 'product';

// Card
@import 'top_card';

// Paginator
@import 'paginator';

// Menu
@import 'menu';

// Order
@import 'order';